*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .title p{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    color: #f53626;
}
.title h2{
    font-size: 40px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
} */
.sub_title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: red;
}
.hny_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

/* start choose */

.choose .row_img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.choose .row_text{
    align-self: center;
}
/* .choose_title1{
    color: red;
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 1px;
}
.choose_title2{
    font-size: 40px;
    line-height: 48px;
    text-transform: capitalize;
} */
.choose ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.choose .row_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: #7b756f;
    margin: 15px 0 35px 0;
}
.choose ul li{
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin: 15px 0 ;
    font-weight: 600;
}
.choose ul li i{
    font-size: 10px;
    background: #f9f7fe;
    color: green;
    padding: 10px;
    border-radius: 50%;
    margin-right: 12px;
}

/* end choose */

/* start number */

.number{
    background: #189a46;
    padding: 40px;
}
.number_content{
    width: 80%;
    /* background: wheat; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.number_item{
    width: 30%;
}
.p_first_of_type{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}
.p_last_of_type{
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

/* end number */

/* start plan */

.plan{
    background: #f9f7fe;
    padding: 50px 0 120px 0;
    /* margin-bottom: 50px; */
}
.plan .title p{
  color: red;
}
.plan_content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.plan_content li {
    text-decoration: none;
    list-style: none;
}
.text_h6{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
.text_h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: green;
}
.text_label{
    font-size: 25px;
    vertical-align: text-top;
}
.text_span{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}
.text_list{
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
    color: #8a707b;
}
.btn-style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 20px;
}
.plan_left{
    background: white;
    width: 30%;
    padding: 50px 0;
}
.plan_center{
    margin-top: -50px;
    margin-bottom: -50px;
    background: white;
    width: 30%;
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
    border-radius: 6px;
    z-index: 1;
    
}
.plan_center .left_top{
    background: #189a46;
}
.text_h5{
    background: white;
    color: #189a46;
    font-size: 15px;
    line-height: 20px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 10px ;
    margin-top: 50px;
}
.center_h6{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: white;
    padding: 10px 0;
}
.center_h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: white;
    padding-bottom: 20px;
}
.center_label{
    font-size: 25px;
    vertical-align: text-top;
}
.center_span{
    font-size: 16px;
    line-height: 25px;
    color: white;
    font-weight: 400;
}
.plan_right{
    background: #fcfcfc;
    width: 30%;
    padding: 50px 0;
}
/* end plan */

/* start better */

.middle_section{
    max-width: 950px;
    margin: 0 auto;
}
.middle_section .title p {
    color: #7b756f;
    font-size: 1.2em;
    padding: 15px 0px;
}
.clip img{
    vertical-align: center;
    border-style: none;
}
.clip_content{
    position: relative;
}
.img_fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.play_view{
    left: 0;
    right: 0;
    position: absolute;
    top: calc(50% - 40px);
    color: #189a46;
    transition: 0.3s;
}
.play_view:hover{
    color: #189a46;
}
.video-play-icon{
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
    transition: 0.3s;
}
.video-play-icon:hover{
    transform: scale(1.1);
    color: #189a46;
}
.dark .choose{
  background: #151515;
}
.dark .hny_title{
  color: #d3d3d3;
}
.dark .choose ul li i{
  background: #222222; 
}
.dark .choose span{
  color: white;
}
.dark .plan{
  background: #222222;
}
.dark .title h2{
  color: #d3d3d3;
}
.dark .plan_left, .dark .plan_right, .dark .plan_center{
  background: #000;
}
.dark .text_h6{
  color: white;
}
/* end better */

@keyframes ripple {
	0% {
		box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
			0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
	}

	100% {
		box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
			0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
	}
}
/* Lâm */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body a {
    cursor: pointer !important;
    font-family: "Jost", sans-serif;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
    font-family: "Jost", sans-serif;
  }
  /* light theme */
  #myBody {
    background-color: white;
  }
  #switchButton {
    background-color: #fff;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
    display: inline;
  }
  /* dark theme */
  .dark#myBody {
    background-color: #151515;
  }
  .dark #switchButton {
    background-color: #151515;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: white;
    display: inline;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .header {
    background-color: #151515;
    color: white;
  }
  .dark .about_title {
    background-color: #151515;
    color: white;
  }
  .dark .feature {
    background-color: #222222;
    color: #fff;
  }
  .dark .item_feature:hover {
    background-color: #222222;
  }
  .dark .item_feature {
    background-color: #151515;
    border-radius: 10px;
  }
  .dark .read {
    color: #fff;
  }
  .dark .title_item {
    color: #fff;
  }
  /* start header */
  .header {
    width: 100%;
    background-color: #fff;
  }
  
  .navbar-light .navbar-brand {
    font-weight: 650;
    font-size: 34px;
    color: #189a46;
  }
  .navbar-light .navbar-brand:hover {
    color: #189a46;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--heading-color);
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    margin-right: 8px;
  }
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: green;
  }
  .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: green;
  }
  .navbar-expand-lg .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    left: 0;
    bottom: 0px;
    background: green;
  }
  .navbar-expand-lg .navbar-nav .nav-link:hover::before {
    color: green;
    width: 100%;
    transition: all 0.5s;
  }
  .fa-moon {
    margin-top: 15px;
  }
  .carousel {
    position: relative;
  }
  .carousel h5 {
    font-size: 52px;
    line-height: 62px;
    text-transform: capitalize;
    font-weight: 700;
  }
  .carousel p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
    opacity: 0.9;
  }
  .carousel-item::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
  }
  .btn-outline-success {
    border-color: #fff;
    padding: 13px 35px;
    border-radius: 10px;
  }
  .btn-outline-success:hover {
    color: #189a46;
    border: 1px solid #fff;
  }
  .btn:hover {
    background-color: #fff;
    color: #189a46;
    transition: all 0.5s;
  }
  .border-btn {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
    border-radius: 10px;
  }
  .carousel-caption {
    max-width: 650px;
    bottom: 35%;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    opacity: 0.9;
    margin: 3px 10px;
  }
  
  .carousel-indicators .active {
    width: 30px;
    height: 10px;
    background-color: #189a46;
  }
  
  /* end header */
  /* about us */
  .about_us {
    max-width: 700px;
    text-align: center;
  }
  .about_us h6 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
  }
  .about_us h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
  }
  .about_us p {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 28px;
    color: #696969;
  }
  
  .feature i {
    color: #189a46;
    font-size: 30px;
  }
  .feature h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color: black;
  }
  .feature h4 a:hover {
    color: #189a46;
    text-decoration: none;
  }
  .item_feature {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
  }
  .read {
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
  }
  .read:hover {
    color: #189a46;
    text-decoration: none;
  }
  
  /* huy */
  
  
  /* start TESTIMONIALS */
  .testimonials{
    background: #faf7fe;
  }
  .testimonials__tittle h6{
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
  }
  .testimonials__tittle h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .testimonials__content{
    max-width: 1050px;
    margin: auto;
  }
  .no-js .owl-carousel, .owl-carousel.owl-loaded{
    display: block;
  }
  .owl-carousel .owl-stage-outer{
    position: relative;
    overflow: hidden;
  }
  .owl-carousel .owl-stage{
    position: relative;
    touch-action: manipulation;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .owl-carousel .owl-item{
    float: left;
  }
  .owl-theme .owl-nav{
    display: none;
  }
  .owl-theme .owl-dots .owl-dot{
    display: none;
    border: none;
    background: transparent;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    color: #189A46;
    width: 30px;
    height: 10px;
  }
  
  
  .testimonials__text{
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: #fff;
    border: 10px;
    border: none;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  }
  .testimonials__text blockquote{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
  }
  .testimonials__text blockquote q::before{
    font-size: 50px;
    color: #189A46;
    line-height: .8;
    font-weight: 700;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .testimonials__bottom{
    display: flex;
    text-align: center;
  }
  .testimonials__img{
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
  }
  .testimonials__people h3{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }
  .testimonials__people p{
    color: #777;
    font-size: 17px;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
  }
  
  .clear{
    clear: both;
  }
  
  
  
  
  /* end TESTIMONIALS */
  /* start Stay */
  
  .tittle h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }
  .subcribe__item .btn-primary{
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
  }
  .subcribe__item .btn-primary:hover{
    color: #fff;
    background-color: #116E32;
    border-color: #116E32;
  }
  
  .subcribe__item .btn-style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    transition: all .3s;
  }
  
  .subcribe__item .form-control{
    width: 75%;
  }
  .subcribe__item{
    justify-content: space-between;
  }
  
  .subcribe__item input{
    font-size: 16px;
    border-radius: 5px;
    padding: 0 20px;
    flex-basis: 70%;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  
  .subcribe__item button{
    flex-basis: 27%;
  }
  /* end Stay */
  /* start footer */
  footer{
    background:#111111;
  }
  
  .footer__tittle h6{
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 25px;
    text-align: center;
    
  }
  .footer__tittle ul {
    list-style: none;
    margin-bottom: 5px;
    
  }
  .footer__tittle p {
    font-size: 16px;
    color: #656969;
  }
  .footer__tittle a{
    font-size: 16px;
    color: #656969;
  }
  .social__icon ul li{
    display: inline-block;
    padding: 5px;
  }
  .footer__bottom{
    border-top: 1px solid rgba(103, 99, 99, 0.14);
  }
  .footer__bottom{
    font-size: 16px;
    line-height: 28px;
    color: #656969;
  }
  .footer__tittle a:hover{
    color: #fff;
    text-decoration: underline;
  }
  .footer__bottom a{
    color: #aa2223;
  }
  .footer__bottom a:hover{
    color: #aa2223;
  }
  /* end footer */